# [Exercices] Premier pas avec `pandas`

# [Ex. 1] 


##### On s'int√©resse au fichier disponible √† : `data/co2-data/owid-co2-data.csv` 

- 1 - Lire le fichier
- 2 - S'assurer de la coh√©rence du type de chaque colonne
- 3 - Classer les pays par √©missions totales de CO2 (= colonne `co2`) par ordre d√©croissant (quelle est l'unit√© de la variable CO2 ?). On pourra classer les pays seulement sur 2018.
- 4 - Classer les pays par PIB (= colonne `gdp`) par ordre d√©croissant. (quelle est l'unit√© de la variable PIB ?)
- 5 - Classer les pays par CO2 / PIB par ordre d√©croissant.
- 6 - R√©aliser les top 25 pour ces 3 classements
- 7 - Quels pays apparraissent dans deux top ? 
- 8 - Dans 3 tops ?

#### question 1

#### question 2

#### question 3

#### question 4

#### question 5

##### Rappel : list comprehension

In [39]:
res = []
for x in range(10):
    res.append(x**2)
res


res = [
    x**2 
    for x in range(10)
]
res


res = [(x,y) for x in range(1, 9) for y in range(1, 9)]
res


res = [x**2 for x in range(10) if x%2==0]
res

[0, 4, 16, 36, 64]

#### Question 6

In [45]:
cols = ['co2', 'gdp', 'co2_per_gdp']


# Avec une liste comprehension
[
    # On classe selon la valeur de la colonne par ordre d√©croissant
    # on s√©lectionne sur les pays
    # On garde les 25 premi√®res lignes
    df.sort_values(col, ascending=False)["country"].iloc[:25].tolist()
    for col in cols
]

# Avec une dict comprehension
{
    # On classe selon la valeur de la colonne
    # 
    col: df.sort_values(col, ascending=False)["country"].iloc[:25].tolist()
    for col in cols
}

# On peut appliquer le constructeur pd.DataFrame
top_25 = pd.DataFrame(
    {
    # On classe selon la valeur de la colonne
    # 
    col: df.sort_values(col, ascending=False)["country"].iloc[:25].tolist()
    for col in cols
}
)


# En utilisant .nlargest
top_25 = {}
for variable in ["co2", "gdp", "co2_per_gdp"]:
    top_25[variable] = df.nlargest(25, variable)['country'].tolist()

pd.DataFrame(top_25)

               co2             gdp             co2_per_gdp
0            China           China             North Korea
1    United States   United States     Trinidad and Tobago
2            India           India                Mongolia
3           Russia           Japan              Kazakhstan
4            Japan         Germany            South Africa
5          Germany          Russia                   China
6             Iran       Indonesia                   Libya
7      South Korea          Brazil                 Ukraine
8     Saudi Arabia          France  Bosnia and Herzegovina
9        Indonesia  United Kingdom                   Syria
10          Canada           Italy                 Bahrain
11          Brazil          Mexico                Zimbabwe
12          Mexico     South Korea            Turkmenistan
13    South Africa    Saudi Arabia                 Estonia
14          Turkey          Canada                    Iran
15       Australia          Turkey                  Russia
16  United Kingdom           Spain                  Serbia
17           Italy            Iran                 Lesotho
18          Poland       Australia                    Laos
19      Kazakhstan           Egypt                    Oman
20          France        Pakistan                    Iraq
21          Taiwan        Thailand                 Jamaica
22        Thailand         Nigeria                 Vietnam
23         Vietnam          Poland              Kyrgyzstan
24           Spain          Taiwan            Saudi Arabia

In [29]:
top_25 = {}
for variable in ["co2", "gdp", "co2_per_gdp"]:
    top_25[variable] = df.nlargest(25, variable)['country'].tolist()

In [55]:
pd.DataFrame(top_25)

               co2             gdp             co2_per_gdp
0            China           China             North Korea
1    United States   United States     Trinidad and Tobago
2            India           India                Mongolia
3           Russia           Japan              Kazakhstan
4            Japan         Germany            South Africa
5          Germany          Russia                   China
6             Iran       Indonesia                   Libya
7      South Korea          Brazil                 Ukraine
8     Saudi Arabia          France  Bosnia and Herzegovina
9        Indonesia  United Kingdom                   Syria
10          Canada           Italy                 Bahrain
11          Brazil          Mexico                Zimbabwe
12          Mexico     South Korea            Turkmenistan
13    South Africa    Saudi Arabia                 Estonia
14          Turkey          Canada                    Iran
15       Australia          Turkey                  Russia
16  United Kingdom           Spain                  Serbia
17           Italy            Iran                 Lesotho
18          Poland       Australia                    Laos
19      Kazakhstan           Egypt                    Oman
20          France        Pakistan                    Iraq
21          Taiwan        Thailand                 Jamaica
22        Thailand         Nigeria                 Vietnam
23         Vietnam          Poland              Kyrgyzstan
24           Spain          Taiwan            Saudi Arabia

#### Question 7

In [56]:
comparison = {}

for col_1, col_2 in [
    ("co2", "gdp"), 
    ("co2", "co2_per_gdp"), 
    ("gdp", "co2_per_gdp")
]:
    # On garde les valzurs
    values_col1 = top25[col_1].values
    values_col2 = top25[col_2].values
    
    comparison[(col_1, col_2)] = [
        country
        for country in values_col1 # on it√®re sur une liste
        if country in values_col2 # on test si on est dans l'autre
    ]
    
comparison

{('co2', 'gdp'): ['China',
  'United States',
  'India',
  'Russia',
  'Japan',
  'Germany',
  'Iran',
  'South Korea',
  'Saudi Arabia',
  'Indonesia',
  'Canada',
  'Brazil',
  'Mexico',
  'Turkey',
  'Australia',
  'United Kingdom',
  'Italy',
  'Poland',
  'France',
  'Taiwan',
  'Thailand',
  'Spain'],
 ('co2', 'co2_per_gdp'): ['China',
  'Russia',
  'Iran',
  'Saudi Arabia',
  'South Africa',
  'Kazakhstan',
  'Vietnam'],
 ('gdp', 'co2_per_gdp'): ['China', 'Russia', 'Saudi Arabia', 'Iran']}

#### Question 8

In [58]:
def intersect(la, lb, lc):
    return list(set(la) & set(lb) & set(lc))

intersect(top_25["co2"], top_25["gdp"], top_25["co2_per_gdp"])

['Saudi Arabia', 'Iran', 'China', 'Russia']

# [Ex. 2] Cr√©ation de donn√©es de tests

### Question 1

> On veut cr√©er un historique de ventes pour tester le code d'un future site de ecommerce - on peut le r√©sumer dans le fichier CSV suivant :  

|        timestamp | customer_id | product_id | quantity | price | revenue |
|-----------------:|------------:|-----------:|---------:|------:|--------:|
| 2022/12/27 13:05 |        1986 |       3456 |        4 |     5 |      20 |
| 2022/12/27 13:05 |        1986 |       3459 |        3 |     6 |      18 |
| 2022/12/27 13:06 |       24501 |       1242 |        2 |     4 |       8 |
| 2022/12/27 13:12 |       48285 |       3424 |        4 |    25 |     100 |
| 2022/12/27 13:14 |        2422 |       3456 |       10 |     5 |      50 |
|              ... |         ... |        ... |      ... |   ... |     ... |


- timestamp (datetime)
- customer_id (int)
- product_id (int)
- quantity (int)
- price (int)
- revenue (int)


De plus on souhaite que l'historique v√©rifie les contraintes suivantes : 
- La p√©riode va du 2022/07/01 00:00:00 au 2022/12/31 23:59:59 (inclus)
- 100 000 transactions (lignes) 
- 4000 clients diff√©rents
- 250 produits diff√©rents avec un prix moyen de 15 ‚Ç¨
- La quantit√© moyenne vendue par transaction est de 2.1 unit√©s
- Un m√™me produit est toujours vendu au m√™me prix

**Cr√©er un tel fichier**

(**en adaptant le code ci-dessous avec les bonnes constantes et en ajoutant les bons imports**)


### Question 2 
On ajoute les contraintes suivantes : 
- Lorsque l'on ach√®te le mardi, on b√©n√©ficie d'une remise (cr√©e une colonne discount)
    - De 5% pour une transaction de 1 √† 3 produits
    - De 10% pour une transaction √† partir de 4 produits
- Les clients sont 50 % √† faire au moins une transaction par mois sur tout la p√©riode
- 10 % des clients font une seule transaction sur tout la p√©riode


**Cr√©er un tel fichier**


### Question 3
Ecrire une fonction `split_train_test` qui prend en argument une DataFrame `df` et un r√©el `test_proportion` entre 0 et 1 et renvoie deux DataFrames `train` et `test`, ayant les m√™mes colonnes que `df` et se partageant ses lignes (al√©atoirement et de mani√®re mutuellement exclusive) avec les proportions `1 - test_portion` et `test_portion`


### Question 4
M√™me question, en faisant en sorte que les moyennes des variables quantitatives des deux DataFrames `test` et `train` soient proches de celles des moyennes des variables quantitatives de `df` (moins de 10% d'√©cart)

### Question 5
M√™me question, en faisant en sorte que les histogrammes des variables quantitatives des deux DataFrames `test` et `train` soient ressemblant √† ceux des variables quantitatives de `df` (moins de 10% d'√©cart)

# [Ex. 3 ] 

Le fichier `movie_metadata.csv` contient des informations au sujet de 5043 films qui ont √©t√© extraites de l'IMDB.

- 1.
 - a. Quels sont les 10 r√©alisateurs qui ont le meilleur score (`imdb_score`) moyen ?
 - b. Quels sont les 10 pays qui ont le meilleur score (`imdb_score`) moyen ?
 

- 2. 
 - a. Cr√©er une colonne par genre (column `genres` Action, Adventure...) qui faut True si le film a ce genre renseign√© et False sinon.
 - b. Calculer le nombre total de films par genre
 - c. Calculer l'√©volution du nombre de films par genre entre 2000 et 2010
 - d. Calculer l'√©volution 'Year to Year' (% d'augmentation entre ann√©e N et N+1) du nombre de films pour chaque genre.
 - e. Faire de m√™me pour chaque pays.
 
 
- 3. On s'int√©resser seulement aux films publi√©s apr√®s 2000.
- a. Calculer le prix √† la minute de chaque film (√† partir des colonnes `budget` et `duration`)
- b. Quels sont tous les acteurs (renseign√©s dans les colonnes `actor_X_name`) qui ont jou√© dans les films qui ont un prix √† la minute dans les 10% les plus √©lev√©s ? 


- 4. 
- a. Quels sont les r√©alisateurs dont les films ont la rentabilit√© moyenne (`gross` / `budget`) la plus √©lev√©e ?
- b. M√™me question pour les pays.


- 5. 
 - a. Plusieurs utilisateurs de l'IMDB ont report√© que les notes seraient gonfl√©es depuis quelques ann√©es. Que peut-on calculer pour essayer de s'en assurer ? Proposer deux m√©thodes.
 - b. Impl√©menter ces deux m√©thodes.


- 6. 
 - a. En calculant des moyennes, en regardant des √©volutions, en calculant des proportions ou des tables de contingence... d√©terminer des conditions qui semblent √™tre associ√©es √† des notes plus √©lev√©es.
 - b. B√¢tir un mod√®le de pr√©diction de la variable `imdb_score` sur la base des autres variables et des donn√©es disponibles a priori (ie, pour r√©aliser la pr√©diction d'un film sorti en 2010, on peut utiliser toutes les statistiques des films sortis en 2009)
 (On pourra utiliser seulement les variables #likes sur facebook pour le film, et la dur√©e et filtrer sur les films apr√®s 2000 et sur les films des Etats-Unis et du Royaume Uni et reproduire la m√©thode dans 3_a_... - 9. Un peu de pr√©diction - ùëÉ=ùëé1√óùê∂+ùëé2√óùê∑ )


- 7. On cr√©e un nouvelle variable `is_good_movie` qui vaut True si l`imdb_score` est plus grand que 7 et vaut False sinon. 

 - a. En calculant des moyennes, en regardant des √©volutions, en calculant des proportions ou des tables de contingence... d√©terminer des conditions qui semblent √™tre associ√©es √† "des bons films".
 - b. B√¢tir un mod√®le de pr√©diction de la variable `is_good_movie` sur la base des autres variables et des donn√©es disponibles a priori.

# [Ex. 4] 
###### On se restreint aux colonnes suivantes : 
['color', 'duration', 'country'  'budget', 'title_year', 'imdb_score']

S√©lectionner un √©chantillon repr√©sentatif des :
- Films am√©ricains de 2000 √† 2010 (10 % du total des films am√©ricains de 2000 √† 2010)
- Films de Science-Fiction (20 % du total des films de SF)


M√™me questions en ajoutant la colonne 'genres'

# [Ex. 5] Une question d'entretien


Les questions suivantes ont √©t√© pos√©es au cours de plusieurs entretiens pour des postes de Junior Data Scientists au sein d'une start-up parisienne : 

> On dispose d'un historique de ventes sur un site de ecommerce qui peut √™tre r√©sum√© dans le fichier CSV suivant :  

|        timestamp | customer_id | product_id | quantity | price | revenue |
|-----------------:|------------:|-----------:|---------:|------:|--------:|
| 2022/12/27 13:05 |        1986 |       3456 |        4 |     5 |      20 |
| 2022/12/27 13:05 |        1986 |       3459 |        3 |     6 |      18 |
| 2022/12/27 13:06 |       24501 |       1242 |        2 |     4 |       8 |
| 2022/12/27 13:12 |       48285 |       3424 |        4 |    25 |     100 |
| 2022/12/27 13:14 |        2422 |       3456 |       10 |     5 |      50 |
|              ... |         ... |        ... |      ... |   ... |     ... |


- timestamp (datetime)
- customer_id (int)
- product_id (int)
- quantity (int)
- price (int)
- revenue (int)

Pour chaque transaction (ie une ligne dans le fichier) ci-dessus :
- 1. Ecrire qui une fonction qui prend en entr√©e la DataFrame des transactions et l'index d'une ligne (transaction) et renvoie True si la transaction a un chiffre d'affaire (colonne `revenue`) qui est dans le top 25% des transactions de la journ√©e. Utiliser cette fonction pour flaguer ces transactions.


- 2. M√™me question mais avec le mois en cours √† la place de la journ√©e