In [2]:
# List comprehension & list flattening

l = [
    [1, 2, 3],
    [4, 5, 6]
]


[
    sublist 
    for sublist in l 
]


[
    item
    for sublist in l 
    for item  in sublist
]


for sublist in l:
    for item in sublist:
        print(item)

#[1, 2, 3, 4, 5, 6]

1
2
3
4
5
6

In [3]:
for genres in df["genres"].tolist():
    print(genres.split("|"))
    break 
    
[
    i
    for i in range(1, 4)
]

NameError: name 'df' is not defined

In [4]:
import pandas as pd

df = pd.read_csv("../data/imdb/movie_metadata.csv")



# Question 1
score_mean_per_dir = df.groupby("director_name").imdb_score.mean()

# Example d'accès à une valeur sur la base de l'id de la ligne
print(score_mean_per_dir.loc["Quentin Tarantino"])

score_mean_per_dir.sort_values(ascending=False)[:10]


# Question 2
score_mean_per_country = df.groupby("country").imdb_score.mean()
# exemple
print(score_mean_per_country.loc["France"])
score_mean_per_country.sort_values(ascending=False)[:10]


# Question 2 (pour un seul genre)

# Méthode 1 avec une lambda fonction
df["Action"] = df["genres"].map(lambda string: "Action" in string.split("|"))


# Méthode 2 avec une fonction définie préalablement
def has_action_in_genres(string):
    return "Action" in string.split("|")

df["Action"] = df["genres"].map(has_action_in_genres)

# Question 2 (pour tous les genres)

# On crée la liste avec les sous listes de genres
genres = [ 
    genres.split("|")
    for genres in df["genres"].tolist()
]

# On flatten la liste
genres = [
    genre 
    for genres_sublist in genres
    for genre in genres_sublist
]

# On récupère les valeurs
genres = list(set(genres))

for genre in genres:
    df[genre] = df["genres"].map(lambda string: genre in string.split("|"))
    
df[genres].sum()

8.2
6.678571428571429

News              3
War             213
Romance        1107
Horror          565
Reality-TV        2
Film-Noir         6
Sport           182
Adventure       923
Sci-Fi          616
Fantasy         610
Family          546
Mystery         500
History         207
Drama          2594
Animation       242
Western          97
Game-Show         1
Thriller       1411
Short             5
Biography       293
Action         1153
Comedy         1872
Music           214
Documentary     121
Crime           889
Musical         132
dtype: int64

In [5]:
df[genres].sum()
df.sum()

/var/folders/yf/7zryq8v115v8hjpz3_522bvm0000gn/T/ipykernel_1627/3037608530.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.sum()

num_critic_for_reviews                                                699990.0
duration                                                              539007.0
director_facebook_likes                                              3390669.0
actor_3_facebook_likes                                               3237949.0
actor_1_facebook_likes                                              33036397.0
gross                                                           201580106904.0
genres                       Action|Adventure|Fantasy|Sci-FiAction|Adventur...
movie_title                  Avatar Pirates of the Caribbean: At World's En...
num_voted_users                                                      421938535
cast_total_facebook_likes                                             48912379
facenumber_in_poster                                                    6897.0
movie_imdb_link              http://www.imdb.com/title/tt0499549/?ref_=fn_t...
num_user_for_reviews                                                 1369855.0
budget                                                          180914175606.0
title_year                                                           9882192.0
actor_2_facebook_likes                                               8308325.0
imdb_score                                                             32487.7
aspect_ratio                                                          10466.98
movie_facebook_likes                                                  37953439
Action                                                                    1153
News                                                                         3
War                                                                        213
Romance                                                                   1107
Horror                                                                     565
Reality-TV                                                                   2
Film-Noir                                                                    6
Sport                                                                      182
Adventure                                                                  923
Sci-Fi                                                                     616
Fantasy                                                                    610
Family                                                                     546
Mystery                                                                    500
History                                                                    207
Drama                                                                     2594
Animation                                                                  242
Western                                                                     97
Game-Show                                                                    1
Thriller                                                                  1411
Short                                                                        5
Biography                                                                  293
Comedy                                                                    1872
Music                                                                      214
Documentary                                                                121
Crime                                                                      889
Musical                                                                    132
dtype: object

In [6]:
print(pd.Series([True, True, False]) & pd.Series([True, False, False]))
print(pd.Series([True, True, False]) | pd.Series([True, False, False]))

0     True
1    False
2    False
dtype: bool
0     True
1     True
2    False
dtype: bool

In [23]:
test = pd.DataFrame(
    [
        ["A", 1],
        ["B", 1],
        ["B", 2],
        ["C", 2]
    ]
)
test.columns = ["col_1", "col_2"]
# test[test.col_1 == "B"]
# test.col_1 == "B"

test.col_1[test.col_2 ==1]

0     True
1     True
2    False
3    False
Name: col_2, dtype: bool

In [9]:
for genre in genres:
    movies_2010 = df[(df.title_year==2010) & df[genre]]
    movies_2000 = df[(df.title_year==2000) & df[genre]]

    count_movies_2010 = len(movies_2010)
    count_movies_2000 = len(movies_2000)
    
    if count_movies_2000 ==0:
        print(f"No movies for genre {genre} in 2000")
        continue

    # Autre solution
    # count_action_movies_2010 = action_movies_2010.shape[0]
    # count_action_movies_2000 = action_movies_2000.shape[0]

    # Evolution en pourcent : (nouveau - ancien) / ancien
    # (moyen mnémotechnique : nouveau = (1+evol%) * ancien)
    count_evolution = (count_movies_2010 - count_movies_2000) / count_movies_2000
    print(genre, round(count_evolution * 100, 2), "%")

No movies for genre News in 2000
War 250.0 %
Romance 40.91 %
Horror 62.5 %
No movies for genre Reality-TV in 2000
No movies for genre Film-Noir in 2000
Sport -44.44 %
Adventure 19.35 %
Sci-Fi 10.53 %
Fantasy 89.47 %
Family 78.95 %
Mystery 28.57 %
History 250.0 %
Drama 30.34 %
Animation 30.0 %
Western 50.0 %
No movies for genre Game-Show in 2000
Thriller 27.66 %
No movies for genre Short in 2000
Biography 57.14 %
Action 64.71 %
Comedy 26.67 %
Music -30.0 %
Documentary 250.0 %
Crime -16.67 %
Musical 100.0 %

In [ ]:
def generate_random_price():
    return np.random.choice(
        [12, 14, 15, 16, 17, 18], 
        p=[0.4,0.05,0.1,0.05,0.2, 0.2]
    )



import datetime
import random

start_date = datetime.datetime(2022, 7, 1)
end_date = datetime.datetime(2022, 12, 31)

start_timestamp = start_date.timestamp()
end_timestamp = end_date.timestamp()

difference = end_timestamp - start_timestamp

random_integer = random.randint(0, int(difference))
random_date = datetime.datetime.fromtimestamp(start_timestamp + random_integer)

print(random_date)