In [22]:
# List comprehension & list flattening

l = [
    [1, 2, 3],
    [4, 5, 6]
]


[
    sublist 
    for sublist in l 
]


[
    item
    for sublist in l 
    for item  in sublist
]


for sublist in l:
    for item in sublist:
        print(item)

#[1, 2, 3, 4, 5, 6]

1
2
3
4
5
6

In [38]:
for genres in df["genres"].tolist():
    print(genres.split("|"))
    break 
    
[
    i
    for i in range(1, 4)
]

['Action', 'Adventure', 'Fantasy', 'Sci-Fi']

In [26]:
import pandas as pd

df = pd.read_csv("../data/imdb/movie_metadata.csv")



# Question 1
score_mean_per_dir = df.groupby("director_name").imdb_score.mean()

# Example d'accès à une valeur sur la base de l'id de la ligne
print(score_mean_per_dir.loc["Quentin Tarantino"])

score_mean_per_dir.sort_values(ascending=False)[:10]


# Question 2
score_mean_per_country = df.groupby("country").imdb_score.mean()
# exemple
print(score_mean_per_country.loc["France"])
score_mean_per_country.sort_values(ascending=False)[:10]


# Question 2 (pour un seul genre)

# Méthode 1 avec une lambda fonction
df["Action"] = df["genres"].map(lambda string: "Action" in string.split("|"))


# Méthode 2 avec une fonction définie préalablement
def has_action_in_genres(string):
    return "Action" in string.split("|")

df["Action"] = df["genres"].map(has_action_in_genres)

# Question 2 (pour tous les genres)

# On crée la liste avec les sous listes de genres
genres = [ 
    genres.split("|")
    for genres in df["genres"].tolist()
]

# On flatten la liste
genres = [
    genre 
    for genres_sublist in genres
    for genre in genres_sublist
]

# On récupère les valeurs
genres = list(set(genres))

for genre in genres:
    df[genre] = df["genres"].map(lambda string: genre in string.split("|"))
    
df[genres].sum()

8.2
6.678571428571429

In [37]:
df[genres].sum()
df.sum()

/var/folders/yf/7zryq8v115v8hjpz3_522bvm0000gn/T/ipykernel_8041/3037608530.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.sum()

num_critic_for_reviews                                                699990.0
duration                                                              539007.0
director_facebook_likes                                              3390669.0
actor_3_facebook_likes                                               3237949.0
actor_1_facebook_likes                                              33036397.0
gross                                                           201580106904.0
genres                       Action|Adventure|Fantasy|Sci-FiAction|Adventur...
movie_title                  Avatar Pirates of the Caribbean: At World's En...
num_voted_users                                                      421938535
cast_total_facebook_likes                                             48912379
facenumber_in_poster                                                    6897.0
movie_imdb_link              http://www.imdb.com/title/tt0499549/?ref_=fn_t...
num_user_for_reviews                                                 1369855.0
budget                                                          180914175606.0
title_year                                                           9882192.0
actor_2_facebook_likes                                               8308325.0
imdb_score                                                             32487.7
aspect_ratio                                                          10466.98
movie_facebook_likes                                                  37953439
Action                                                                    1153
Mystery                                                                    500
Sci-Fi                                                                     616
Film-Noir                                                                    6
Documentary                                                                121
Thriller                                                                  1411
Adventure                                                                  923
Animation                                                                  242
Western                                                                     97
Sport                                                                      182
News                                                                         3
Reality-TV                                                                   2
Crime                                                                      889
Musical                                                                    132
War                                                                        213
Horror                                                                     565
Music                                                                      214
Fantasy                                                                    610
Short                                                                        5
Drama                                                                     2594
Biography                                                                  293
Family                                                                     546
History                                                                    207
Comedy                                                                    1872
Game-Show                                                                    1
Romance                                                                   1107
dtype: object

In [46]:
print(pd.Series([True, True, False]) & pd.Series([True, False, False]))
print(pd.Series([True, True, False]) | pd.Series([True, False, False]))

0     True
1    False
2    False
dtype: bool
0     True
1     True
2    False
dtype: bool

In [52]:
# df.Action est déjà un booléen
action_movies_2010 = df[(df.title_year==2010) & df.Action]
action_movies_2000 = df[(df.title_year==2000) & df.Action]

count_action_movies_2010 = len(action_movies_2010)
count_action_movies_2000 = len(action_movies_2000)

# Autre solution
# count_action_movies_2010 = action_movies_2010.shape[0]
# count_action_movies_2000 = action_movies_2000.shape[0]


# Evolution en pourcent : (nouveau - ancien) / ancien
# (moyen mnémotechnique : nouveau = (1+evol%) * ancien)
count_action_evolution = (count_action_movies_2010 - count_action_movies_2000) / count_action_movies_2000
count_action_evolution, count_action_movies_2010, count_action_movies_2000

(0.6470588235294118, 56, 34)

In [ ]:
def generate_random_price():
    return np.random.choice(
        [12, 14, 15, 16, 17, 18], 
        p=[0.4,0.05,0.1,0.05,0.2, 0.2]
    )



import datetime
import random

start_date = datetime.datetime(2022, 7, 1)
end_date = datetime.datetime(2022, 12, 31)

start_timestamp = start_date.timestamp()
end_timestamp = end_date.timestamp()

difference = end_timestamp - start_timestamp

random_integer = random.randint(0, int(difference))
random_date = datetime.datetime.fromtimestamp(start_timestamp + random_integer)

print(random_date)