In [2]:
# List comprehension & list flattening

l = [
    [1, 2, 3],
    [4, 5, 6]
]


[
    sublist 
    for sublist in l 
]


[
    item
    for sublist in l 
    for item  in sublist
]


for sublist in l:
    for item in sublist:
        print(item)

#[1, 2, 3, 4, 5, 6]

1
2
3
4
5
6

In [101]:
import pandas as pd

df = pd.read_csv("../data/imdb/movie_metadata.csv")



# Question 1
score_mean_per_dir = df.groupby("director_name").imdb_score.mean()

# Example d'accès à une valeur sur la base de l'id de la ligne
print(score_mean_per_dir.loc["Quentin Tarantino"])

score_mean_per_dir.sort_values(ascending=False)[:10]


# Question 2
score_mean_per_country = df.groupby("country").imdb_score.mean()
# exemple
print(score_mean_per_country.loc["France"])
score_mean_per_country.sort_values(ascending=False)[:10]


# Question 2 (pour un seul genre)

# Méthode 1 avec une lambda fonction
df["Action"] = df["genres"].map(lambda string: "Action" in string.split("|"))


# Méthode 2 avec une fonction définie préalablement
def has_action_in_genres(string):
    return "Action" in string.split("|")

df["Action"] = df["genres"].map(has_action_in_genres)

# Question 2 (pour tous les genres)

# On crée la liste avec les sous listes de genres
genres = [ 
    genres.split("|")
    for genres in df["genres"].tolist()
]

# On flatten la liste
genres = [
    genre 
    for genres_sublist in genres
    for genre in genres_sublist
]

# On récupère les valeurs
genres = list(set(genres))

for genre in genres:
    df[genre] = df["genres"].map(lambda string: genre in string.split("|"))
    
df[genres].sum()

8.2
6.678571428571429

News              3
War             213
Romance        1107
Horror          565
Reality-TV        2
Film-Noir         6
Sport           182
Adventure       923
Sci-Fi          616
Fantasy         610
Family          546
Mystery         500
History         207
Drama          2594
Animation       242
Western          97
Game-Show         1
Thriller       1411
Short             5
Biography       293
Action         1153
Comedy         1872
Music           214
Documentary     121
Crime           889
Musical         132
dtype: int64

In [49]:
df[genres].sum()
df.sum()

/var/folders/yf/7zryq8v115v8hjpz3_522bvm0000gn/T/ipykernel_1627/3037608530.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.sum()

num_critic_for_reviews                                                699990.0
duration                                                              539007.0
director_facebook_likes                                              3390669.0
actor_3_facebook_likes                                               3237949.0
actor_1_facebook_likes                                              33036397.0
gross                                                           201580106904.0
genres                       Action|Adventure|Fantasy|Sci-FiAction|Adventur...
movie_title                  Avatar Pirates of the Caribbean: At World's En...
num_voted_users                                                      421938535
cast_total_facebook_likes                                             48912379
facenumber_in_poster                                                    6897.0
movie_imdb_link              http://www.imdb.com/title/tt0499549/?ref_=fn_t...
num_user_for_reviews                                                 1369855.0
budget                                                          180914175606.0
title_year                                                           9882192.0
actor_2_facebook_likes                                               8308325.0
imdb_score                                                             32487.7
aspect_ratio                                                          10466.98
movie_facebook_likes                                                  37953439
Action                                                                    1153
News                                                                         3
War                                                                        213
Romance                                                                   1107
Horror                                                                     565
Reality-TV                                                                   2
Film-Noir                                                                    6
Sport                                                                      182
Adventure                                                                  923
Sci-Fi                                                                     616
Fantasy                                                                    610
Family                                                                     546
Mystery                                                                    500
History                                                                    207
Drama                                                                     2594
Animation                                                                  242
Western                                                                     97
Game-Show                                                                    1
Thriller                                                                  1411
Short                                                                        5
Biography                                                                  293
Comedy                                                                    1872
Music                                                                      214
Documentary                                                                121
Crime                                                                      889
Musical                                                                    132
dtype: object

In [50]:
print(pd.Series([True, True, False]) & pd.Series([True, False, False]))
print(pd.Series([True, True, False]) | pd.Series([True, False, False]))

0     True
1    False
2    False
dtype: bool
0     True
1     True
2    False
dtype: bool

In [51]:
test = pd.DataFrame(
    [
        ["A", 1],
        ["B", 1],
        ["B", 2],
        ["C", 2]
    ]
)
test.columns = ["col_1", "col_2"]
# test[test.col_1 == "B"]
# test.col_1 == "B"

test.col_1[test.col_2 ==1]

0    A
1    B
Name: col_1, dtype: object

In [52]:
for genre in genres:
    movies_2010 = df[(df.title_year==2010) & df[genre]]
    movies_2000 = df[(df.title_year==2000) & df[genre]]

    count_movies_2010 = len(movies_2010)
    count_movies_2000 = len(movies_2000)
    
    if count_movies_2000 ==0:
        print(f"No movies for genre {genre} in 2000")
        continue

    # Autre solution
    # count_action_movies_2010 = action_movies_2010.shape[0]
    # count_action_movies_2000 = action_movies_2000.shape[0]

    # Evolution en pourcent : (nouveau - ancien) / ancien
    # (moyen mnémotechnique : nouveau = (1+evol%) * ancien)
    count_evolution = (count_movies_2010 - count_movies_2000) / count_movies_2000
    print(genre, round(count_evolution * 100, 2), "%")

No movies for genre News in 2000
War 250.0 %
Romance 40.91 %
Horror 62.5 %
No movies for genre Reality-TV in 2000
No movies for genre Film-Noir in 2000
Sport -44.44 %
Adventure 19.35 %
Sci-Fi 10.53 %
Fantasy 89.47 %
Family 78.95 %
Mystery 28.57 %
History 250.0 %
Drama 30.34 %
Animation 30.0 %
Western 50.0 %
No movies for genre Game-Show in 2000
Thriller 27.66 %
No movies for genre Short in 2000
Biography 57.14 %
Action 64.71 %
Comedy 26.67 %
Music -30.0 %
Documentary 250.0 %
Crime -16.67 %
Musical 100.0 %

In [53]:
for genre in genres:
    for year_delta in range(10):
        movies_n = df[(df.title_year==2000 + year_delta) & df[genre]]
        movies_nplus1 = df[(df.title_year== 2000 + year_delta + 1) & df[genre]]

        count_movies_n = len(movies_n)
        count_movies_nplus1 = len(movies_nplus1)

        if count_movies_n ==0:
            print(f"No movies for genre {genre} in 2000")
            continue

        # Autre solution
        # count_action_movies_2010 = action_movies_2010.shape[0]
        # count_action_movies_2000 = action_movies_2000.shape[0]

        # Evolution en pourcent : (nouveau - ancien) / ancien
        # (moyen mnémotechnique : nouveau = (1+evol%) * ancien)
        count_evolution = (count_movies_nplus1 - count_movies_n) / count_movies_n
        print(
            genre, 
            2000+year_delta, 
            "to" , 
            2001+year_delta+1, 
            round(count_evolution * 100, 2), 
            "%"
        )

No movies for genre News in 2000
No movies for genre News in 2000
No movies for genre News in 2000
No movies for genre News in 2000
No movies for genre News in 2000
No movies for genre News in 2000
No movies for genre News in 2000
No movies for genre News in 2000
No movies for genre News in 2000
News 2009 to 2011 -100.0 %
War 2000 to 2002 300.0 %
War 2001 to 2003 25.0 %
War 2002 to 2004 -20.0 %
War 2003 to 2005 0.0 %
War 2004 to 2006 25.0 %
War 2005 to 2007 10.0 %
War 2006 to 2008 18.18 %
War 2007 to 2009 38.46 %
War 2008 to 2010 -77.78 %
War 2009 to 2011 75.0 %
Romance 2000 to 2002 15.91 %
Romance 2001 to 2003 0.0 %
Romance 2002 to 2004 -25.49 %
Romance 2003 to 2005 86.84 %
Romance 2004 to 2006 -21.13 %
Romance 2005 to 2007 -3.57 %
Romance 2006 to 2008 1.85 %
Romance 2007 to 2009 5.45 %
Romance 2008 to 2010 5.17 %
Romance 2009 to 2011 1.64 %
Horror 2000 to 2002 -25.0 %
Horror 2001 to 2003 25.0 %
Horror 2002 to 2004 0.0 %
Horror 2003 to 2005 20.0 %
Horror 2004 to 2006 44.44 %
Horror 2005 to 2007 -19.23 %
Horror 2006 to 2008 19.05 %
Horror 2007 to 2009 -8.0 %
Horror 2008 to 2010 47.83 %
Horror 2009 to 2011 -23.53 %
No movies for genre Reality-TV in 2000
No movies for genre Reality-TV in 2000
No movies for genre Reality-TV in 2000
No movies for genre Reality-TV in 2000
No movies for genre Reality-TV in 2000
No movies for genre Reality-TV in 2000
No movies for genre Reality-TV in 2000
No movies for genre Reality-TV in 2000
No movies for genre Reality-TV in 2000
No movies for genre Reality-TV in 2000
No movies for genre Film-Noir in 2000
No movies for genre Film-Noir in 2000
No movies for genre Film-Noir in 2000
No movies for genre Film-Noir in 2000
No movies for genre Film-Noir in 2000
No movies for genre Film-Noir in 2000
No movies for genre Film-Noir in 2000
No movies for genre Film-Noir in 2000
No movies for genre Film-Noir in 2000
No movies for genre Film-Noir in 2000
Sport 2000 to 2002 0.0 %
Sport 2001 to 2003 11.11 %
Sport 2002 to 2004 -70.0 %
Sport 2003 to 2005 300.0 %
Sport 2004 to 2006 41.67 %
Sport 2005 to 2007 -17.65 %
Sport 2006 to 2008 -35.71 %
Sport 2007 to 2009 0.0 %
Sport 2008 to 2010 -33.33 %
Sport 2009 to 2011 -16.67 %
Adventure 2000 to 2002 -3.23 %
Adventure 2001 to 2003 20.0 %
Adventure 2002 to 2004 -8.33 %
Adventure 2003 to 2005 0.0 %
Adventure 2004 to 2006 33.33 %
Adventure 2005 to 2007 -6.82 %
Adventure 2006 to 2008 -29.27 %
Adventure 2007 to 2009 41.38 %
Adventure 2008 to 2010 -2.44 %
Adventure 2009 to 2011 -7.5 %
Sci-Fi 2000 to 2002 10.53 %
Sci-Fi 2001 to 2003 0.0 %
Sci-Fi 2002 to 2004 -28.57 %
Sci-Fi 2003 to 2005 46.67 %
Sci-Fi 2004 to 2006 -18.18 %
Sci-Fi 2005 to 2007 11.11 %
Sci-Fi 2006 to 2008 -40.0 %
Sci-Fi 2007 to 2009 116.67 %
Sci-Fi 2008 to 2010 46.15 %
Sci-Fi 2009 to 2011 -44.74 %
Fantasy 2000 to 2002 15.79 %
Fantasy 2001 to 2003 -18.18 %
Fantasy 2002 to 2004 16.67 %
Fantasy 2003 to 2005 0.0 %
Fantasy 2004 to 2006 0.0 %
Fantasy 2005 to 2007 23.81 %
Fantasy 2006 to 2008 -3.85 %
Fantasy 2007 to 2009 12.0 %
Fantasy 2008 to 2010 25.0 %
Fantasy 2009 to 2011 2.86 %
Family 2000 to 2002 -21.05 %
Family 2001 to 2003 66.67 %
Family 2002 to 2004 -24.0 %
Family 2003 to 2005 52.63 %
Family 2004 to 2006 0.0 %
Family 2005 to 2007 17.24 %
Family 2006 to 2008 -41.18 %
Family 2007 to 2009 40.0 %
Family 2008 to 2010 7.14 %
Family 2009 to 2011 13.33 %
Mystery 2000 to 2002 71.43 %
Mystery 2001 to 2003 16.67 %
Mystery 2002 to 2004 -32.14 %
Mystery 2003 to 2005 21.05 %
Mystery 2004 to 2006 4.35 %
Mystery 2005 to 2007 -4.17 %
Mystery 2006 to 2008 -8.7 %
Mystery 2007 to 2009 -4.76 %
Mystery 2008 to 2010 65.0 %
Mystery 2009 to 2011 -45.45 %
History 2000 to 2002 100.0 %
History 2001 to 2003 50.0 %
History 2002 to 2004 16.67 %
History 2003 to 2005 0.0 %
History 2004 to 2006 42.86 %
History 2005 to 2007 20.0 %
History 2006 to 2008 8.33 %
History 2007 to 2009 15.38 %
History 2008 to 2010 -60.0 %
History 2009 to 2011 16.67 %
Drama 2000 to 2002 2.25 %
Drama 2001 to 2003 34.07 %
Drama 2002 to 2004 -33.61 %
Drama 2003 to 2005 33.33 %
Drama 2004 to 2006 10.19 %
Drama 2005 to 2007 10.92 %
Drama 2006 to 2008 -25.0 %
Drama 2007 to 2009 20.2 %
Drama 2008 to 2010 15.13 %
Drama 2009 to 2011 -15.33 %
Animation 2000 to 2002 -10.0 %
Animation 2001 to 2003 0.0 %
Animation 2002 to 2004 -33.33 %
Animation 2003 to 2005 66.67 %
Animation 2004 to 2006 -20.0 %
Animation 2005 to 2007 112.5 %
Animation 2006 to 2008 -35.29 %
Animation 2007 to 2009 18.18 %
Animation 2008 to 2010 23.08 %
Animation 2009 to 2011 -18.75 %
Western 2000 to 2002 -50.0 %
Western 2001 to 2003 -50.0 %
Western 2002 to 2004 0.0 %
Western 2003 to 2005 300.0 %
Western 2004 to 2006 0.0 %
Western 2005 to 2007 -50.0 %
Western 2006 to 2008 150.0 %
Western 2007 to 2009 -60.0 %
Western 2008 to 2010 -100.0 %
No movies for genre Western in 2000
No movies for genre Game-Show in 2000
No movies for genre Game-Show in 2000
No movies for genre Game-Show in 2000
No movies for genre Game-Show in 2000
No movies for genre Game-Show in 2000
No movies for genre Game-Show in 2000
No movies for genre Game-Show in 2000
No movies for genre Game-Show in 2000
No movies for genre Game-Show in 2000
No movies for genre Game-Show in 2000
Thriller 2000 to 2002 25.53 %
Thriller 2001 to 2003 10.17 %
Thriller 2002 to 2004 -29.23 %
Thriller 2003 to 2005 17.39 %
Thriller 2004 to 2006 11.11 %
Thriller 2005 to 2007 3.33 %
Thriller 2006 to 2008 -11.29 %
Thriller 2007 to 2009 1.82 %
Thriller 2008 to 2010 23.21 %
Thriller 2009 to 2011 -13.04 %
No movies for genre Short in 2000
No movies for genre Short in 2000
No movies for genre Short in 2000
No movies for genre Short in 2000
No movies for genre Short in 2000
No movies for genre Short in 2000
No movies for genre Short in 2000
Short 2007 to 2009 -50.0 %
Short 2008 to 2010 -100.0 %
No movies for genre Short in 2000
Biography 2000 to 2002 14.29 %
Biography 2001 to 2003 12.5 %
Biography 2002 to 2004 11.11 %
Biography 2003 to 2005 30.0 %
Biography 2004 to 2006 -15.38 %
Biography 2005 to 2007 36.36 %
Biography 2006 to 2008 20.0 %
Biography 2007 to 2009 -22.22 %
Biography 2008 to 2010 -7.14 %
Biography 2009 to 2011 -15.38 %
Action 2000 to 2002 29.41 %
Action 2001 to 2003 -2.27 %
Action 2002 to 2004 -4.65 %
Action 2003 to 2005 -2.44 %
Action 2004 to 2006 15.0 %
Action 2005 to 2007 -17.39 %
Action 2006 to 2008 -15.79 %
Action 2007 to 2009 50.0 %
Action 2008 to 2010 2.08 %
Action 2009 to 2011 14.29 %
Comedy 2000 to 2002 18.67 %
Comedy 2001 to 2003 -5.62 %
Comedy 2002 to 2004 -9.52 %
Comedy 2003 to 2005 26.32 %
Comedy 2004 to 2006 -13.54 %
Comedy 2005 to 2007 14.46 %
Comedy 2006 to 2008 -20.0 %
Comedy 2007 to 2009 10.53 %
Comedy 2008 to 2010 17.86 %
Comedy 2009 to 2011 -4.04 %
Music 2000 to 2002 -20.0 %
Music 2001 to 2003 -12.5 %
Music 2002 to 2004 14.29 %
Music 2003 to 2005 62.5 %
Music 2004 to 2006 -7.69 %
Music 2005 to 2007 -8.33 %
Music 2006 to 2008 9.09 %
Music 2007 to 2009 -16.67 %
Music 2008 to 2010 50.0 %
Music 2009 to 2011 -53.33 %
Documentary 2000 to 2002 50.0 %
Documentary 2001 to 2003 66.67 %
Documentary 2002 to 2004 0.0 %
Documentary 2003 to 2005 60.0 %
Documentary 2004 to 2006 25.0 %
Documentary 2005 to 2007 -10.0 %
Documentary 2006 to 2008 -22.22 %
Documentary 2007 to 2009 28.57 %
Documentary 2008 to 2010 -44.44 %
Documentary 2009 to 2011 40.0 %
Crime 2000 to 2002 38.89 %
Crime 2001 to 2003 0.0 %
Crime 2002 to 2004 -28.0 %
Crime 2003 to 2005 -11.11 %
Crime 2004 to 2006 18.75 %
Crime 2005 to 2007 13.16 %
Crime 2006 to 2008 -23.26 %
Crime 2007 to 2009 6.06 %
Crime 2008 to 2010 14.29 %
Crime 2009 to 2011 -25.0 %
Musical 2000 to 2002 50.0 %
Musical 2001 to 2003 66.67 %
Musical 2002 to 2004 0.0 %
Musical 2003 to 2005 20.0 %
Musical 2004 to 2006 -16.67 %
Musical 2005 to 2007 0.0 %
Musical 2006 to 2008 0.0 %
Musical 2007 to 2009 0.0 %
Musical 2008 to 2010 -20.0 %
Musical 2009 to 2011 0.0 %

In [54]:
df["country"]

0          USA
1          USA
2           UK
3          USA
4          NaN
         ...
5038    Canada
5039       USA
5040       USA
5041       USA
5042       USA
Name: country, Length: 5043, dtype: object

In [55]:
# set(df["country"])
for country in df["country"].unique():
    for year_delta in range(10):
        movies_n = df[(df.title_year==2000 + year_delta) & (df["country"]==country)]
        movies_nplus1 = df[(df.title_year== 2000 + year_delta + 1) & (df["country"]==country)]

        count_movies_n = len(movies_n)
        count_movies_nplus1 = len(movies_nplus1)

        if count_movies_n ==0:
            print(f"No movies for country {country} in 2000")
            continue

        # Autre solution
        # count_action_movies_2010 = action_movies_2010.shape[0]
        # count_action_movies_2000 = action_movies_2000.shape[0]

        # Evolution en pourcent : (nouveau - ancien) / ancien
        # (moyen mnémotechnique : nouveau = (1+evol%) * ancien)
        count_evolution = (count_movies_nplus1 - count_movies_n) / count_movies_n
        print(
            country, 
            2000+year_delta, 
            "to" , 
            2000+year_delta+1, 
            round(count_evolution * 100, 2), 
            "%"
        )

USA 2000 to 2001 9.56 %
USA 2001 to 2002 5.37 %
USA 2002 to 2003 -14.01 %
USA 2003 to 2004 15.56 %
USA 2004 to 2005 -1.28 %
USA 2005 to 2006 7.14 %
USA 2006 to 2007 -8.48 %
USA 2007 to 2008 7.95 %
USA 2008 to 2009 12.88 %
USA 2009 to 2010 -9.24 %
UK 2000 to 2001 -25.0 %
UK 2001 to 2002 83.33 %
UK 2002 to 2003 -72.73 %
UK 2003 to 2004 250.0 %
UK 2004 to 2005 9.52 %
UK 2005 to 2006 -17.39 %
UK 2006 to 2007 0.0 %
UK 2007 to 2008 21.05 %
UK 2008 to 2009 -8.7 %
UK 2009 to 2010 0.0 %
No movies for country nan in 2000
No movies for country nan in 2000
No movies for country nan in 2000
No movies for country nan in 2000
No movies for country nan in 2000
No movies for country nan in 2000
No movies for country nan in 2000
No movies for country nan in 2000
No movies for country nan in 2000
No movies for country nan in 2000
No movies for country New Zealand in 2000
New Zealand 2001 to 2002 0.0 %
New Zealand 2002 to 2003 -100.0 %
No movies for country New Zealand in 2000
No movies for country New Zealand in 2000
New Zealand 2005 to 2006 -75.0 %
New Zealand 2006 to 2007 -100.0 %
No movies for country New Zealand in 2000
No movies for country New Zealand in 2000
No movies for country New Zealand in 2000
No movies for country Canada in 2000
Canada 2001 to 2002 200.0 %
Canada 2002 to 2003 50.0 %
Canada 2003 to 2004 -44.44 %
Canada 2004 to 2005 100.0 %
Canada 2005 to 2006 -50.0 %
Canada 2006 to 2007 20.0 %
Canada 2007 to 2008 -16.67 %
Canada 2008 to 2009 80.0 %
Canada 2009 to 2010 -11.11 %
Australia 2000 to 2001 0.0 %
Australia 2001 to 2002 100.0 %
Australia 2002 to 2003 50.0 %
Australia 2003 to 2004 -100.0 %
No movies for country Australia in 2000
Australia 2005 to 2006 -33.33 %
Australia 2006 to 2007 -100.0 %
No movies for country Australia in 2000
Australia 2008 to 2009 33.33 %
Australia 2009 to 2010 0.0 %
No movies for country Belgium in 2000
No movies for country Belgium in 2000
No movies for country Belgium in 2000
No movies for country Belgium in 2000
No movies for country Belgium in 2000
No movies for country Belgium in 2000
No movies for country Belgium in 2000
No movies for country Belgium in 2000
No movies for country Belgium in 2000
No movies for country Belgium in 2000
Japan 2000 to 2001 0.0 %
Japan 2001 to 2002 -100.0 %
No movies for country Japan in 2000
No movies for country Japan in 2000
Japan 2004 to 2005 -100.0 %
No movies for country Japan in 2000
No movies for country Japan in 2000
No movies for country Japan in 2000
Japan 2008 to 2009 -100.0 %
No movies for country Japan in 2000
Germany 2000 to 2001 16.67 %
Germany 2001 to 2002 -28.57 %
Germany 2002 to 2003 -40.0 %
Germany 2003 to 2004 200.0 %
Germany 2004 to 2005 -33.33 %
Germany 2005 to 2006 216.67 %
Germany 2006 to 2007 -78.95 %
Germany 2007 to 2008 100.0 %
Germany 2008 to 2009 -25.0 %
Germany 2009 to 2010 -33.33 %
No movies for country China in 2000
No movies for country China in 2000
China 2002 to 2003 -100.0 %
No movies for country China in 2000
China 2004 to 2005 0.0 %
China 2005 to 2006 200.0 %
China 2006 to 2007 -100.0 %
No movies for country China in 2000
China 2008 to 2009 150.0 %
China 2009 to 2010 -80.0 %
France 2000 to 2001 100.0 %
France 2001 to 2002 12.5 %
France 2002 to 2003 -44.44 %
France 2003 to 2004 20.0 %
France 2004 to 2005 66.67 %
France 2005 to 2006 -10.0 %
France 2006 to 2007 -33.33 %
France 2007 to 2008 0.0 %
France 2008 to 2009 83.33 %
France 2009 to 2010 0.0 %
No movies for country New Line in 2000
New Line 2001 to 2002 -100.0 %
No movies for country New Line in 2000
No movies for country New Line in 2000
No movies for country New Line in 2000
No movies for country New Line in 2000
No movies for country New Line in 2000
No movies for country New Line in 2000
No movies for country New Line in 2000
No movies for country New Line in 2000
Mexico 2000 to 2001 0.0 %
Mexico 2001 to 2002 0.0 %
Mexico 2002 to 2003 -100.0 %
No movies for country Mexico in 2000
No movies for country Mexico in 2000
No movies for country Mexico in 2000
No movies for country Mexico in 2000
Mexico 2007 to 2008 -100.0 %
No movies for country Mexico in 2000
No movies for country Mexico in 2000
No movies for country Spain in 2000
No movies for country Spain in 2000
Spain 2002 to 2003 0.0 %
Spain 2003 to 2004 100.0 %
Spain 2004 to 2005 -100.0 %
No movies for country Spain in 2000
Spain 2006 to 2007 33.33 %
Spain 2007 to 2008 -25.0 %
Spain 2008 to 2009 0.0 %
Spain 2009 to 2010 -66.67 %
No movies for country Hong Kong in 2000
Hong Kong 2001 to 2002 -100.0 %
No movies for country Hong Kong in 2000
Hong Kong 2003 to 2004 100.0 %
Hong Kong 2004 to 2005 -100.0 %
No movies for country Hong Kong in 2000
Hong Kong 2006 to 2007 200.0 %
Hong Kong 2007 to 2008 -66.67 %
Hong Kong 2008 to 2009 100.0 %
Hong Kong 2009 to 2010 -100.0 %
No movies for country Czech Republic in 2000
No movies for country Czech Republic in 2000
No movies for country Czech Republic in 2000
No movies for country Czech Republic in 2000
No movies for country Czech Republic in 2000
No movies for country Czech Republic in 2000
Czech Republic 2006 to 2007 -100.0 %
No movies for country Czech Republic in 2000
No movies for country Czech Republic in 2000
No movies for country Czech Republic in 2000
India 2000 to 2001 0.0 %
India 2001 to 2002 -100.0 %
No movies for country India in 2000
No movies for country India in 2000
India 2004 to 2005 200.0 %
India 2005 to 2006 33.33 %
India 2006 to 2007 -50.0 %
India 2007 to 2008 -50.0 %
India 2008 to 2009 100.0 %
India 2009 to 2010 50.0 %
No movies for country Soviet Union in 2000
No movies for country Soviet Union in 2000
No movies for country Soviet Union in 2000
No movies for country Soviet Union in 2000
No movies for country Soviet Union in 2000
No movies for country Soviet Union in 2000
No movies for country Soviet Union in 2000
No movies for country Soviet Union in 2000
No movies for country Soviet Union in 2000
No movies for country Soviet Union in 2000
No movies for country South Korea in 2000
No movies for country South Korea in 2000
No movies for country South Korea in 2000
South Korea 2003 to 2004 -50.0 %
South Korea 2004 to 2005 0.0 %
South Korea 2005 to 2006 0.0 %
South Korea 2006 to 2007 0.0 %
South Korea 2007 to 2008 0.0 %
South Korea 2008 to 2009 0.0 %
South Korea 2009 to 2010 0.0 %
No movies for country Peru in 2000
No movies for country Peru in 2000
No movies for country Peru in 2000
No movies for country Peru in 2000
No movies for country Peru in 2000
No movies for country Peru in 2000
No movies for country Peru in 2000
No movies for country Peru in 2000
No movies for country Peru in 2000
No movies for country Peru in 2000
No movies for country Italy in 2000
No movies for country Italy in 2000
Italy 2002 to 2003 0.0 %
Italy 2003 to 2004 0.0 %
Italy 2004 to 2005 -100.0 %
No movies for country Italy in 2000
No movies for country Italy in 2000
Italy 2007 to 2008 -100.0 %
No movies for country Italy in 2000
Italy 2009 to 2010 -50.0 %
No movies for country Russia in 2000
No movies for country Russia in 2000
No movies for country Russia in 2000
Russia 2003 to 2004 0.0 %
Russia 2004 to 2005 -100.0 %
No movies for country Russia in 2000
No movies for country Russia in 2000
Russia 2007 to 2008 -100.0 %
No movies for country Russia in 2000
Russia 2009 to 2010 0.0 %
No movies for country Aruba in 2000
No movies for country Aruba in 2000
No movies for country Aruba in 2000
No movies for country Aruba in 2000
No movies for country Aruba in 2000
No movies for country Aruba in 2000
No movies for country Aruba in 2000
No movies for country Aruba in 2000
No movies for country Aruba in 2000
No movies for country Aruba in 2000
Denmark 2000 to 2001 -100.0 %
No movies for country Denmark in 2000
No movies for country Denmark in 2000
No movies for country Denmark in 2000
No movies for country Denmark in 2000
Denmark 2005 to 2006 -100.0 %
No movies for country Denmark in 2000
No movies for country Denmark in 2000
Denmark 2008 to 2009 -100.0 %
No movies for country Denmark in 2000
No movies for country Libya in 2000
No movies for country Libya in 2000
No movies for country Libya in 2000
No movies for country Libya in 2000
No movies for country Libya in 2000
No movies for country Libya in 2000
No movies for country Libya in 2000
No movies for country Libya in 2000
No movies for country Libya in 2000
No movies for country Libya in 2000
No movies for country Ireland in 2000
No movies for country Ireland in 2000
No movies for country Ireland in 2000
Ireland 2003 to 2004 0.0 %
Ireland 2004 to 2005 -100.0 %
No movies for country Ireland in 2000
Ireland 2006 to 2007 100.0 %
Ireland 2007 to 2008 -100.0 %
No movies for country Ireland in 2000
Ireland 2009 to 2010 -100.0 %
No movies for country South Africa in 2000
No movies for country South Africa in 2000
No movies for country South Africa in 2000
No movies for country South Africa in 2000
No movies for country South Africa in 2000
No movies for country South Africa in 2000
South Africa 2006 to 2007 -100.0 %
No movies for country South Africa in 2000
South Africa 2008 to 2009 0.0 %
South Africa 2009 to 2010 -100.0 %
No movies for country Iceland in 2000
No movies for country Iceland in 2000
No movies for country Iceland in 2000
No movies for country Iceland in 2000
No movies for country Iceland in 2000
No movies for country Iceland in 2000
No movies for country Iceland in 2000
No movies for country Iceland in 2000
No movies for country Iceland in 2000
Iceland 2009 to 2010 -100.0 %
No movies for country Switzerland in 2000
No movies for country Switzerland in 2000
No movies for country Switzerland in 2000
No movies for country Switzerland in 2000
No movies for country Switzerland in 2000
No movies for country Switzerland in 2000
No movies for country Switzerland in 2000
No movies for country Switzerland in 2000
No movies for country Switzerland in 2000
Switzerland 2009 to 2010 -100.0 %
No movies for country Romania in 2000
No movies for country Romania in 2000
No movies for country Romania in 2000
No movies for country Romania in 2000
Romania 2004 to 2005 -100.0 %
No movies for country Romania in 2000
No movies for country Romania in 2000
Romania 2007 to 2008 -100.0 %
No movies for country Romania in 2000
No movies for country Romania in 2000
No movies for country West Germany in 2000
No movies for country West Germany in 2000
No movies for country West Germany in 2000
No movies for country West Germany in 2000
No movies for country West Germany in 2000
No movies for country West Germany in 2000
No movies for country West Germany in 2000
No movies for country West Germany in 2000
No movies for country West Germany in 2000
No movies for country West Germany in 2000
No movies for country Chile in 2000
No movies for country Chile in 2000
No movies for country Chile in 2000
No movies for country Chile in 2000
No movies for country Chile in 2000
No movies for country Chile in 2000
No movies for country Chile in 2000
No movies for country Chile in 2000
No movies for country Chile in 2000
No movies for country Chile in 2000
No movies for country Netherlands in 2000
No movies for country Netherlands in 2000
No movies for country Netherlands in 2000
No movies for country Netherlands in 2000
No movies for country Netherlands in 2000
No movies for country Netherlands in 2000
Netherlands 2006 to 2007 -100.0 %
No movies for country Netherlands in 2000
Netherlands 2008 to 2009 -100.0 %
No movies for country Netherlands in 2000
No movies for country Hungary in 2000
No movies for country Hungary in 2000
No movies for country Hungary in 2000
No movies for country Hungary in 2000
No movies for country Hungary in 2000
Hungary 2005 to 2006 -100.0 %
No movies for country Hungary in 2000
No movies for country Hungary in 2000
No movies for country Hungary in 2000
No movies for country Hungary in 2000
No movies for country Panama in 2000
No movies for country Panama in 2000
No movies for country Panama in 2000
No movies for country Panama in 2000
No movies for country Panama in 2000
No movies for country Panama in 2000
No movies for country Panama in 2000
No movies for country Panama in 2000
No movies for country Panama in 2000
No movies for country Panama in 2000
No movies for country Greece in 2000
No movies for country Greece in 2000
No movies for country Greece in 2000
No movies for country Greece in 2000
No movies for country Greece in 2000
No movies for country Greece in 2000
No movies for country Greece in 2000
No movies for country Greece in 2000
No movies for country Greece in 2000
Greece 2009 to 2010 -100.0 %
No movies for country Sweden in 2000
No movies for country Sweden in 2000
Sweden 2002 to 2003 -100.0 %
No movies for country Sweden in 2000
Sweden 2004 to 2005 -100.0 %
No movies for country Sweden in 2000
No movies for country Sweden in 2000
Sweden 2007 to 2008 -100.0 %
No movies for country Sweden in 2000
No movies for country Sweden in 2000
No movies for country Norway in 2000
Norway 2001 to 2002 -100.0 %
No movies for country Norway in 2000
No movies for country Norway in 2000
No movies for country Norway in 2000
No movies for country Norway in 2000
No movies for country Norway in 2000
No movies for country Norway in 2000
No movies for country Norway in 2000
Norway 2009 to 2010 0.0 %
Taiwan 2000 to 2001 -100.0 %
No movies for country Taiwan in 2000
No movies for country Taiwan in 2000
No movies for country Taiwan in 2000
No movies for country Taiwan in 2000
No movies for country Taiwan in 2000
No movies for country Taiwan in 2000
No movies for country Taiwan in 2000
No movies for country Taiwan in 2000
No movies for country Taiwan in 2000
No movies for country Official site in 2000
No movies for country Official site in 2000
No movies for country Official site in 2000
No movies for country Official site in 2000
No movies for country Official site in 2000
No movies for country Official site in 2000
No movies for country Official site in 2000
No movies for country Official site in 2000
No movies for country Official site in 2000
No movies for country Official site in 2000
No movies for country Cambodia in 2000
No movies for country Cambodia in 2000
No movies for country Cambodia in 2000
No movies for country Cambodia in 2000
No movies for country Cambodia in 2000
No movies for country Cambodia in 2000
No movies for country Cambodia in 2000
No movies for country Cambodia in 2000
No movies for country Cambodia in 2000
No movies for country Cambodia in 2000
No movies for country Thailand in 2000
Thailand 2001 to 2002 -100.0 %
No movies for country Thailand in 2000
No movies for country Thailand in 2000
No movies for country Thailand in 2000
Thailand 2005 to 2006 -100.0 %
No movies for country Thailand in 2000
No movies for country Thailand in 2000
Thailand 2008 to 2009 -100.0 %
No movies for country Thailand in 2000
No movies for country Slovakia in 2000
No movies for country Slovakia in 2000
No movies for country Slovakia in 2000
No movies for country Slovakia in 2000
No movies for country Slovakia in 2000
No movies for country Slovakia in 2000
No movies for country Slovakia in 2000
No movies for country Slovakia in 2000
Slovakia 2008 to 2009 -100.0 %
No movies for country Slovakia in 2000
No movies for country Bulgaria in 2000
No movies for country Bulgaria in 2000
No movies for country Bulgaria in 2000
No movies for country Bulgaria in 2000
No movies for country Bulgaria in 2000
No movies for country Bulgaria in 2000
No movies for country Bulgaria in 2000
No movies for country Bulgaria in 2000
No movies for country Bulgaria in 2000
No movies for country Bulgaria in 2000
Iran 2000 to 2001 -100.0 %
No movies for country Iran in 2000
No movies for country Iran in 2000
No movies for country Iran in 2000
No movies for country Iran in 2000
No movies for country Iran in 2000
No movies for country Iran in 2000
No movies for country Iran in 2000
No movies for country Iran in 2000
No movies for country Iran in 2000
No movies for country Poland in 2000
No movies for country Poland in 2000
No movies for country Poland in 2000
No movies for country Poland in 2000
No movies for country Poland in 2000
No movies for country Poland in 2000
Poland 2006 to 2007 -100.0 %
No movies for country Poland in 2000
No movies for country Poland in 2000
No movies for country Poland in 2000
No movies for country Georgia in 2000
No movies for country Georgia in 2000
No movies for country Georgia in 2000
No movies for country Georgia in 2000
No movies for country Georgia in 2000
No movies for country Georgia in 2000
No movies for country Georgia in 2000
No movies for country Georgia in 2000
No movies for country Georgia in 2000
No movies for country Georgia in 2000
No movies for country Turkey in 2000
No movies for country Turkey in 2000
No movies for country Turkey in 2000
No movies for country Turkey in 2000
No movies for country Turkey in 2000
No movies for country Turkey in 2000
Turkey 2006 to 2007 -100.0 %
No movies for country Turkey in 2000
No movies for country Turkey in 2000
No movies for country Turkey in 2000
No movies for country Nigeria in 2000
No movies for country Nigeria in 2000
No movies for country Nigeria in 2000
No movies for country Nigeria in 2000
No movies for country Nigeria in 2000
No movies for country Nigeria in 2000
No movies for country Nigeria in 2000
No movies for country Nigeria in 2000
No movies for country Nigeria in 2000
No movies for country Nigeria in 2000
No movies for country Brazil in 2000
No movies for country Brazil in 2000
Brazil 2002 to 2003 -100.0 %
No movies for country Brazil in 2000
No movies for country Brazil in 2000
Brazil 2005 to 2006 -100.0 %
No movies for country Brazil in 2000
Brazil 2007 to 2008 -100.0 %
No movies for country Brazil in 2000
No movies for country Brazil in 2000
No movies for country Finland in 2000
No movies for country Finland in 2000
No movies for country Finland in 2000
No movies for country Finland in 2000
No movies for country Finland in 2000
No movies for country Finland in 2000
No movies for country Finland in 2000
No movies for country Finland in 2000
No movies for country Finland in 2000
No movies for country Finland in 2000
No movies for country Bahamas in 2000
No movies for country Bahamas in 2000
No movies for country Bahamas in 2000
No movies for country Bahamas in 2000
No movies for country Bahamas in 2000
No movies for country Bahamas in 2000
No movies for country Bahamas in 2000
No movies for country Bahamas in 2000
No movies for country Bahamas in 2000
No movies for country Bahamas in 2000
Argentina 2000 to 2001 -100.0 %
No movies for country Argentina in 2000
No movies for country Argentina in 2000
No movies for country Argentina in 2000
Argentina 2004 to 2005 -100.0 %
No movies for country Argentina in 2000
No movies for country Argentina in 2000
No movies for country Argentina in 2000
No movies for country Argentina in 2000
Argentina 2009 to 2010 -100.0 %
No movies for country Colombia in 2000
No movies for country Colombia in 2000
No movies for country Colombia in 2000
No movies for country Colombia in 2000
Colombia 2004 to 2005 -100.0 %
No movies for country Colombia in 2000
No movies for country Colombia in 2000
No movies for country Colombia in 2000
No movies for country Colombia in 2000
No movies for country Colombia in 2000
No movies for country Israel in 2000
No movies for country Israel in 2000
No movies for country Israel in 2000
No movies for country Israel in 2000
No movies for country Israel in 2000
No movies for country Israel in 2000
Israel 2006 to 2007 -100.0 %
No movies for country Israel in 2000
Israel 2008 to 2009 -100.0 %
No movies for country Israel in 2000
No movies for country Egypt in 2000
No movies for country Egypt in 2000
No movies for country Egypt in 2000
No movies for country Egypt in 2000
No movies for country Egypt in 2000
No movies for country Egypt in 2000
No movies for country Egypt in 2000
No movies for country Egypt in 2000
No movies for country Egypt in 2000
No movies for country Egypt in 2000
No movies for country Kyrgyzstan in 2000

In [ ]:
       print(
            genre, 
            2000+year_delta, 
            "to" , 
            2001+year_delta+1, 
            round(count_evolution * 100, 2), 
            "%"
        )

In [100]:
for genre in genres:
    for year_delta in range(10):
        movies_n = df[(df.title_year==2000 + year_delta) & df[genre]]
        movies_nplus1 = df[(df.title_year== 2000 + year_delta + 1) & df[genre]]

        count_movies_n = len(movies_n)
        count_movies_nplus1 = len(movies_nplus1)

        if count_movies_n ==0:
            print(f"No movies for genre {genre} in 2000")
            continue

        # Autre solution
        # count_action_movies_2010 = action_movies_2010.shape[0]
        # count_action_movies_2000 = action_movies_2000.shape[0]

        # Evolution en pourcent : (nouveau - ancien) / ancien
        # (moyen mnémotechnique : nouveau = (1+evol%) * ancien)
        count_evolution = (count_movies_nplus1 - count_movies_n) / count_movies_n

KeyError: 'News'

In [57]:
df[df["movie_title"].str.lower().str.contains("chain saw")]
df.drop_duplicates(["movie_title", "director_name", "title_year"])[df["movie_title"].str.lower().str.contains("chain saw")]

/var/folders/yf/7zryq8v115v8hjpz3_522bvm0000gn/T/ipykernel_1627/3419451308.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df.drop_duplicates(["movie_title", "director_name", "title_year"])[df["movie_title"].str.lower().str.contains("chain saw")]

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,Western,Game-Show,Thriller,Short,Biography,Comedy,Music,Documentary,Crime,Musical
3278,Color,Tobe Hooper,277.0,88.0,365.0,177.0,Edwin Neal,383.0,30859000.0,Horror|Thriller,...,False,False,True,False,False,False,False,False,False,False

In [65]:
# Project Blair-Witch look-up
# df.sort_values("profitability", ascending=False)[["movie_title", "profitability"]]

In [73]:
df = df[df.title_year >= 2010]

df["profitability"] = df.gross / df.budget
# df[df.profitability<100].profitability.hist(bins=100)



profitable_directors = df.sort_values("profitability", ascending=False)\
                         .director_name[:50]\
                         .unique()

print(len(profitable_directors))

44

## Sur un seul réalisateur

In [83]:
director_name = "Ethan Coen"

subset = df[df.director_name==director_name][["movie_title", "profitability"]].copy()

# A la main
subset.profitability.sum() / len(subset)

# Direct avec pandas
subset.profitability.mean()

2.35520838277512

In [86]:
mean_profitabilities = {}

for director_name in df.director_name.unique():
    # Subset
    subset = df[df.director_name==director_name][["movie_title", "profitability"]].copy()
    # Moyenne
    mean_profitabilities[director_name] = subset.profitability.mean()

alamano = pd.Series(mean_profitabilities)

                           0  profitability        budget
Sam Mendes          1.286744       1.286744  2.150000e+08
Christopher Nolan   1.586807       1.586807  1.916667e+08
Andrew Stanton      0.277052       0.277052  2.637000e+08
Nathan Greno        0.772336       0.772336  2.600000e+08
Joss Whedon         2.500715       2.500715  2.300000e+08
...                      ...            ...           ...
Thomas L. Phillips       NaN            NaN  2.000000e+05
Edward Burns        0.509333       0.509333  9.000000e+03
Scott Smith              NaN            NaN           NaN
Benjamin Roberds         NaN            NaN  1.400000e+03
Daniel Hsia              NaN            NaN           NaN

[1090 rows x 3 columns]

In [96]:
import sklearn
import matplotlib.pyplot as plt

In [78]:
df.director_name.value_counts().head(50)

Ridley Scott             6
Steven Soderbergh        5
Steven Spielberg         5
Shawn Levy               5
Tyler Perry              5
David Ayer               5
James Wan                5
Jaume Collet-Serra       5
Tim Burton               5
Joe Wright               5
David O. Russell         5
Nicholas Stoller         4
Dennis Dugan             4
Jon M. Chu               4
Woody Allen              4
Jonathan Liebesman       4
Kenneth Branagh          4
Robert Schwentke         4
Francis Lawrence         4
Simon West               4
Roland Emmerich          4
Kevin Smith              4
Timur Bekmambetov        4
Zack Snyder              4
Tim Story                4
Paul Feig                4
Paul W.S. Anderson       4
Joseph Kosinski          4
Frank Coraci             4
Clint Eastwood           4
Angelina Jolie Pitt      4
Michael Bay              4
David Gordon Green       4
Danny Boyle              4
Antoine Fuqua            3
Ethan Coen               3
Rob Letterman            3
Brad Peyton              3
Josh Trank               3
Paul Greengrass          3
Louis Leterrier          3
Michael Tiddes           3
Baltasar Kormákur        3
Adam McKay               3
Craig Gillespie          3
James DeMonaco           3
John Erick Dowdle        3
Alejandro G. Iñárritu    3
Sean Anders              3
Bill Condon              3
Name: director_name, dtype: int64

In [99]:
df = pd.read_csv("../data/imdb/movie_metadata.csv")

mask_genres = df["Adventure"] | df["Action"] | df["Fantasy"]
mask_countries = (df["country"] == "USA") | (df["country"] == "United Kingdom") | (df["country"] == "Australia")
mask_directors = (df["director_name"] == "Ethan Coen")
mask = mask_genres & mask_countries & mask_directors

df[mask].groupby("title_year").imdb_score.mean()

KeyError: 'Adventure'

In [ ]:
def generate_random_price():
    return np.random.choice(
        [12, 14, 15, 16, 17, 18], 
        p=[0.4,0.05,0.1,0.05,0.2, 0.2]
    )



import datetime
import random

start_date = datetime.datetime(2022, 7, 1)
end_date = datetime.datetime(2022, 12, 31)

start_timestamp = start_date.timestamp()
end_timestamp = end_date.timestamp()

difference = end_timestamp - start_timestamp

random_integer = random.randint(0, int(difference))
random_date = datetime.datetime.fromtimestamp(start_timestamp + random_integer)

print(random_date)