- https://www.tresfacile.net/exercices-sur-la-bibliotheques-pandas-python/

In [1]:
import pandas as pd
import numpy as np

#### Exercice 1

In [120]:
data = [
    ["Albert", "albert@gmail.com", "SVT"],
    ["Nathalie", "nathalie@gmail.com", "Sc Eco"],
    ["Robert", "robert@gmail.com", "Maths"],
]

df = pd.DataFrame(data, columns=["name", "email", "section"])
df["id"] = range(1, len(df)+1)

# Ou si ID en index
df = pd.DataFrame(data, columns=["name", "email", "section"])
df.index = range(1, len(df)+1)
df

       name               email section
1    Albert    albert@gmail.com     SVT
2  Nathalie  nathalie@gmail.com  Sc Eco
3    Robert    robert@gmail.com   Maths

#### Exercice 2

In [121]:
data = pd.Series(['P', 'y', 't', 'h', 'o' , 'n'])
print(data.sum())

# Ou
print("".join(data.tolist()))

Python
Python

#### Exercice 3

In [122]:
serie = pd.Series(['Python' , 'Djnago' , 'Tkinter' , 'PyQt' , 'numpy'])
print(serie.iloc[:-1])

# Ou
print(serie.drop(len(serie)-1))

# Ou
print(serie.head(len(serie)-1))

0     Python
1     Djnago
2    Tkinter
3       PyQt
dtype: object
0     Python
1     Djnago
2    Tkinter
3       PyQt
dtype: object
0     Python
1     Djnago
2    Tkinter
3       PyQt
dtype: object

#### Exercice 4

In [123]:
serie = pd.Series(['Python' , 'Djnago' , 'Tkinter' , 'PyQt' , 'numpy'])
idx_even = [idx for idx in serie.index if idx%2==0]
print(serie.drop(idx_even))





# A "eviter" (car on boucle à l'exterieur)
# et de plus on peut donner une liste à drop
serie = pd.Series(['Python' , 'Djnago' , 'Tkinter' , 'PyQt' , 'numpy'])
for idx in serie.index:
    if idx % 2 == 0:
        serie = serie.drop(idx)
print(serie)


# Ou
serie = pd.Series(['Python' , 'Djnago' , 'Tkinter' , 'PyQt' , 'numpy'])
# On garde les impaires
mask = serie.index % 2 == 1
serie = serie[mask]



# Ou (similaire mais dans l'autre sens)
serie = pd.Series(['Python' , 'Djnago' , 'Tkinter' , 'PyQt' , 'numpy'])
# On garde les impaires
exclusion_mask = serie.index % 2 == 0
# ~exclusion_mask = le contraire de exlusion_mask 
# (composante par composante)
serie = serie[~exclusion_mask]
serie

1    Djnago
3      PyQt
dtype: object
1    Djnago
3      PyQt
dtype: object

1    Djnago
3      PyQt
dtype: object

#### Exercice 5

In [124]:
l = ['python' , 'Java' , 'PHP', 'Javascript' , 'C++']
pd.Series(l)

0        python
1          Java
2           PHP
3    Javascript
4           C++
dtype: object

#### Exercice 6 et 7

In [125]:
# liste des données
data = [['Tomas' , 'tomas@gmail.com' , 'Math'], 
        ['Albert' ,'albert@gmail.com' , 'SVT' ],
        ['Nathalie', 'nathalie@gmail.com' , 'Sc Eco'], 
        ['Roberto' ,'roberto@gmail.com' , 'Physique'],
        ['Adam' , 'adam@gmail.com' , 'Info']]
labels = [11 , 12, 13 , 14, 15]
 
    
# création du DataFrame
df = pd.DataFrame(data , index=labels , columns=[ 'Name' , 'Email' , 'Section'])
 
##################
# Exercice 6
##################

# On supprime la colonne Section
df = df.drop("Section", axis=1)

# On ajoute l'âge
age_list = [ 22 , 23 , 21 , 20 , 25 ] 
df["Age"] = age_list

##################
# Exercice 7
##################

print(df["Email"].tolist())

['tomas@gmail.com', 'albert@gmail.com', 'nathalie@gmail.com', 'roberto@gmail.com', 'adam@gmail.com']

#### Exercice 8 / 9

In [126]:
dictData = {'ID' : [31, 71, 30 , 11 , 23] , 
            'Nom': ['Julia', 'Tiago', 'Charlie' , 'Alba' , 'Isaac'],  
        'Age': [22, 21, 20, 20 , 23], 
        'Taille': [170, 190, 181 , 175 , 165]}
# création du dataframe
df = pd.DataFrame(dictData , index=[235 , 155 , 243 , 311 , 117])

##################
# Exercice 8
##################

df[["Age", "Nom"]]

##################
# Exercice 9
##################

df[["Age", "Nom"]].sort_values("Age", ascending=False)

     Age      Nom
117   23    Isaac
235   22    Julia
155   21    Tiago
243   20  Charlie
311   20     Alba

#### Exercice 10

In [127]:
import numpy as np
data = np.array (['P', 'y', 't', 'h', 'o' , 'n'])
s = pd.Series(data , index=[12 , 7 , 13 , 22 , 11 , 2])
s.index.tolist()

[12, 7, 13, 22, 11, 2]

#### Exercice 11

In [128]:
data = np.array ([43 , -25 , 79  ,  37 , -22  , 34 ])
s = pd.Series(data)
s = s.map(lambda x: x if x > 0 else 0)
print(s)

# OU Fonctionne mais pas hyper explicite
# au sujet de la modification en place
data = np.array ([43 , -25 , 79  ,  37 , -22  , 34 ])
s = pd.Series(data)
s[s<=0] = 0
print(s)


# OU (mais pas super explicite)
data = np.array ([43 , -25 , 79  ,  37 , -22  , 34 ])
s = pd.Series(data)
s = (s.abs() + s) / 2 # same value if value > 0 else 0
s = s.astype(int) # pour récupérer des int après la moyenne qui donne des float
print(s)

0    43
1     0
2    79
3    37
4     0
5    34
dtype: int64
0    43
1     0
2    79
3    37
4     0
5    34
dtype: int64
0    43
1     0
2    79
3    37
4     0
5    34
dtype: int64

#### Exercice 13

In [129]:
s = pd.Series(["Louis" , "Maya" , "Yassmine"  ,  "Rosa" , "Tomas"] , 
              index= [17 , 21 , 19 , 13  , 27 ])

# 
s.to_dict()

{17: 'Louis', 21: 'Maya', 19: 'Yassmine', 13: 'Rosa', 27: 'Tomas'}

#### Exercice 14

In [130]:
# OU
s = pd.Series(["Emma" , "Alice" , "Paul"  ,  "Tiago" , "Julia"] , 
              index= [17 , 21 , 19 , 13  , 27 ])

new_index = s.index.max() + 1
s[new_index] = "Clara"
print(s)

# OU
s = pd.Series(["Emma" , "Alice" , "Paul"  ,  "Tiago" , "Julia"] , 
              index= [17 , 21 , 19 , 13  , 27 ])
s.loc[s.index[-1]+1] = "Clara"
print(s)

17     Emma
21    Alice
19     Paul
13    Tiago
27    Julia
28    Clara
dtype: object
17     Emma
21    Alice
19     Paul
13    Tiago
27    Julia
28    Clara
dtype: object

#### Exercice 16

In [131]:
serie = pd.Series(
    ['a', 'b', 'c', 'd', 'e' , 'f'], 
    index=[11 , 3 , 17 , 23 , 5 , 22]
)
serie.index = serie.index + 2
# OU serie.index = serie.index.map(lambda idx: idx+2)

#### Exercice 17

In [132]:
serie = pd.Series(
    ['a', 'b', 'c', 'd', 'e' , 'f'], 
    index=[11 , 3 , 17 , 23 , 5 , 22]
)
serie.loc[serie.index.max()]

'd'

#### Exercice 18

In [133]:
serie = pd.Series(
    ['a', 'b', 'c', 'd', 'e' , 'f', 'z', 'd'], 
    index=[11 , 3 , 17 , 23 , 5 , 22, 5, 3]
)

idx_max_value = None
for idx_value in serie.index:
    if (idx_max_value is None) or (idx_max_value < idx_value):
        idx_max_value = idx_value
        
print(serie.loc[idx_max_value])

d

In [134]:
#############################
#
# ATTENTION !! 
#
#############################


serie = pd.Series(
    ['a', 'b', 'c', 'd', 'e' , 'f', 'z', 'd'], 
    index=[11 , 3 , 17 , 23 , 5 , 22, 5, 3]
)

# On lève les valeurs de la série
for x in serie:
    print(x)

# Il se base en revanche sur les valeurs des index 
# pour les tests
print("a" in serie)

# comme pour les dictionnaires
print('a' in {'a': 1}, 'a' in {1: 'a'})

a
b
c
d
e
f
z
d
False
True False

#### Exercice 19

In [135]:
serie1 = pd.Series(['a', 'b', 'c', 'd', 'e' , 'f'] , index=[10 , 12 , 14 , 16 , 18 , 20])
serie2 = pd.Series(['x', 'y', 'z', 't', 'u' , 'v'] , index=[11 , 13 , 15 , 17 , 19 , 21])


df = pd.DataFrame({
    "serie1": serie1.tolist(),
    "idx1": serie1.index,
    "serie2": serie2.tolist(),
    "idx2": serie2.index,
})


df["is_even"] = list(map(lambda x: x%2==0, list(range(0, len(df)))))

def extract_serie_value(row):
    if row.is_even:
        return row["serie1"]
    else:
        return row["serie2"]

df["value"] = df.apply(extract_serie_value, axis=1)

def extract_index_value(row):
    if row.is_even:
        return row["idx1"]
    else:
        return row["idx2"]

    
df["new_index"] = df.apply(extract_index_value, axis=1)

df.index = df["new_index"]
df["value"]

new_index
10    a
13    y
14    c
17    t
18    e
21    v
Name: value, dtype: object

In [136]:
# On pourrait utiliser .zip()
values = []
indexes = []
for i, (v1, idx1,  v2, idx2) in enumerate(zip(serie1, serie1.index, serie2, serie2.index)):
    if i % 2 == 0:
        print(v1)
        values.append(v1)
        indexes.append(idx1)
    else:
        print(v2)
        values.append(v2)
        indexes.append(idx2)

pd.Series(values, index=indexes)

a
y
c
t
e
v

10    a
13    y
14    c
17    t
18    e
21    v
dtype: object

#### Exercice 20

In [139]:
serie = pd.Series(
    ['a', 'b', 'c', 'd', 'e' , 'f'] , 
    index=[10 , 12 , 14 , 16 , 18 , 20]
)
serie.to_dict()

{10: 'a', 12: 'b', 14: 'c', 16: 'd', 18: 'e', 20: 'f'}

#### Exercice 21

In [140]:
serie = pd.Series(
    ['a', 'b', 'c', 'd', 'e' , 'f'] , 
    index=[10 , 12 , 14 , 16 , 18 , 20]
)
serie.tolist()

['a', 'b', 'c', 'd', 'e', 'f']

#### Exercice 22

In [142]:
serie = pd.Series(
    ['a', 'b', 'c', 'd', 'e' , 'f'] , 
    index=[10 , 12 , 14 , 16 , 18 , 20]
)
[
    serie.loc[i] for i in serie.index
]

['a', 'b', 'c', 'd', 'e', 'f']

#### Exercice 23

In [151]:
# Question 1

def swap(l):
    """Swap first element with last"""
    if len(l) <= 1:
        return l
    # Dernier élément - Puis ceux du milieu - Puis le premier
    return [l[-1]] + l[1:-1] + [l[0]]


#print(swap([1, 2]))
#print(swap([1]))

#print(swap([1, 2, 3, 4, 5]))
#print(swap([]))

# Question 2 
serie = pd.Series(
    ['Python', 'Java', 'Javascript', 'Kotlin'] , 
    index=[10 , 12 , 14 , 16 ]
)

values = serie.tolist()
indexes = serie.index.tolist()

swapped_serie = pd.Series(
    swap(values),
    index=swap(indexes)
)
swapped_serie

16        Kotlin
12          Java
14    Javascript
10        Python
dtype: object

#### Exercice 24

In [ ]:
import pandas as pd

integers = []
value = None

for _ in range(5):
    while value is None:
        try:
            input_ = input()
            assert input_.isdigit()
            # Conversion without casting to int
            # as we checked we had only digits
            value = int(input_)    
        except:
            print("failed")   
            
    integers.append(value)
    value = None
    
pd.Series(integers)

failed
failed
failed
failed
failed

#### Exercice 25
- NE PAS UTILISER `.count()` POUR COMPTER DES LIGNES (l'utiliser pour compter les valeurs non nulles)
- PAREIL AVEC `.value_counts()`

In [9]:
serie = pd.Series(['a', 'b', 'c', 'd' , 'e' , 'f'] , 
                      index=[10 , 12 , 14 , 16 , 18 , 20])

print(serie.count())

serie = pd.Series([1, 2, 3, 4, 5, np.nan, None] , 
                      index=[10 , 12 , 14 , 16 , 18 , 20, 21])

print(serie.count())


############################################################
print(serie.shape[0])

# pd.DataFrame([list(range(2)), list(range(2)), list(range(2))]).shape
# -> (3, 2)

6
5
7

#### Exerccie 26

In [16]:
serie = pd.Series([3 , 2 , 1 , 4 , 2])
serie.sum()

12

#### Exercice 27

In [25]:
serie = pd.Series([3 , 2 , 1 , 4 , 2])
# Ensure that we'll use a free index
serie[serie.index.max()+1] = serie.mean()
print(serie)

0    3.0
1    2.0
2    1.0
3    4.0
4    2.0
5    2.4
dtype: float64

#### Exercice 28

In [32]:
serie = pd.Series([3 , 2 , 1 , 4 , 2 , 0, np.nan, np.nan])
# On veut calculer la moyenne en étant robuste aux valeurs manquantes

num = serie.sum()
denom = serie.count()

mean = num / denom 
print(mean)

serie[serie.index.max()+1] = mean
print(serie)

2.0
0    3.0
1    2.0
2    1.0
3    4.0
4    2.0
5    0.0
6    NaN
7    NaN
8    2.0
dtype: float64

In [29]:
# Understanding np.nan 
# (sous le capot, pandas utilise les methodes np.nan<method>)

print(np.sum([np.nan, 1, 1]))
print(np.nansum([np.nan, 1, 1]))


print(np.median([np.nan, 1, 1]))
print(np.nanmedian([np.nan, 1, 1]))


print(np.max([np.nan, 1, 1]))
print(np.nanmax([np.nan, 1, 1]))

nan
2.0
nan
1.0
nan
1.0

#### Exercice 29

In [65]:
#################################
# Methode 1 (avec .duplicated())
#################################

serie = pd.Series(['Python', 'Java', 'Javascript', 'Kotlin' , 'Python'] , 
                  index=[10 , 12 , 14 , 16 , 18])


# Renvoie un masque de la longueur de la série
# qui vaut True si la valeur est rencontrée plus d'une fois
# print(serie.duplicated())

# Donc pour avoir l'opposé
# print(~serie.duplicated())

# Donc pour sélectionner seulement celles qui ne sont pas des doublons
print(serie[~serie.duplicated()])


#################################
# Methode 2 avec drop_duplicates
#################################

serie = pd.Series(['Python', 'Java', 'Javascript', 'Kotlin' , 'Python'] , 
                  index=[10 , 12 , 14 , 16 , 18])


# Donc pour sélectionner seulement celles qui ne sont pas des doublons
print(serie.drop_duplicates())


#####################################
# Methode 3 : en comptant les valeurs
#####################################

# On utilise value_counts
# On lève les index
# On sélectionne sur un seul index associé à la même valeur


#####################################
# Methode 4 : groupby
#####################################

# Serie -> Frame
df = serie.to_frame()
# Deux fois la même
df[1] = df[0]
# On groupe sur 0 (l'une) 
# On sélectionne sur 1, en prenant la première valeur avec la lambda function
df.groupby(0).agg(lambda x: list(x)[0])[1]

10        Python
12          Java
14    Javascript
16        Kotlin
dtype: object
10        Python
12          Java
14    Javascript
16        Kotlin
dtype: object

0
Java                Java
Javascript    Javascript
Kotlin            Kotlin
Python            Python
Name: 1, dtype: object

#### Exercice 30

In [83]:
serie = pd.Series(['Python', 'Java', 'Javascript', 'Kotlin' , 'JSP'] , 
                  index=[10 , 12 , 14 , 16 , 18])


# L'accessor permet d'appliquer les méthodes 
# directement aux valeurs de la série et pas à la série elle même
print("accessor\n", serie.str[:1])
print("\n")
print("Without accessor\n", serie[:1])



# On prend la première lettre et vérifie que c'est un J
serie = serie[serie.str.startswith("J")]

# OU : 
# serie = serie[serie.str[:1] == "J"]

accessor
 10    P
12    J
14    J
16    K
18    J
dtype: object


Without accessor
 10    Python
dtype: object