In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Exercices

## 1. Manipulation en `pandas`

Le fichier `worldcities` contient des informations au sujet de 42 905 villes.


- 1. 
 - a. Pour chaque pays, trouver la ville la plus peuplée. Afficher le résultat dans une `Serie` ayant en index le nom du pays.
 - b. Pour chaque pays, calculer le nombre de villes ayant une population supérieure à la moitié de la population de la ville la plus peuplée du pays.
 
- 2. 
 - a. Quel est le pays ayant le plus de valeurs manquantes pour la variable population ?
 - b. Quel est le pourcentage de lignes ayant au moins une valeur manquante ?


- 3. 
 - a. Observer l'output de la méthode `.describe` de `pandas`
 - b. Expliquer en Français en découpant en étapes simples, calculer la DataFrame qui est l'output de cette méthode
 - c. Faire de même en SQL
 - d. Écrire une fonction `describe` qui prend en argument une DataFrame et renvoie le même résultat que la méthode `describe`

- 4. 
 - a. À l'aide d'une recherche sur StackOverflow, écrire une fonction `distance_on_globe` qui prend en argument deux points sur le globe (ie deuxcouples de latitude longitude) et qui renvoie la distance en km entre ces deux points
 - b. Quelle est la distance moyenne entre Paris et les villes Allemandes ? 

- 5. 
 - a. Créer une variable `population_group` qui correspond à un groupe de population  : 
     - entre 0 et 250_000 habitants
     - entre 250_001 et 500_000 habitants
     - ...
     - entre 1_750_001 et 2_000_000 habitants
     - Plus de 2_000_001 habitants
    
 - b. Pour chaque pays, calculer le groupe qui compte le plus de villes
 
 
- 6. 
 - a. Créer une variable `population_group_2` qui correspond à un groupe de population : 
     - les 10% villes les moins peuplées
     - les 10% suivant
     - ...
     - les 10% villes les plus peuplées 
(il y a 10 groupes)
 
 - b. Quelle est la population minimale des 10% villes les plus peuplées ?
 
 - c. Tracer un diagramme en baton avec en abscisse le numéro du groupe et en ordonnée la population minimale du groupe

In [1]:
df = pd.read_csv("../data/simplemaps/worldcities.csv")
# df[["city", "population"]]

NameError: name 'pd' is not defined

In [4]:
import numpy as np
import pandas as pd

In [7]:
df = pd.DataFrame({"col1": np.array([1, 7, 5, 4, 6, 3])})
df["col1_cut"] = pd.cut(df.col1, 3)
df

   col1      col1_cut
0     1  (0.994, 3.0]
1     7    (5.0, 7.0]
2     5    (3.0, 5.0]
3     4    (3.0, 5.0]
4     6    (5.0, 7.0]
5     3  (0.994, 3.0]

### Question 1.a.

### Question 1.b

### Question 2.b

### Question 3.
- `.describe` renvoie des statistiques (**uniquement**) pour les variables quantitatives
    - `count` : le nombre de valeurs non nulles
    - `mean` : la moyenne des valeurs non nulles 
    - `std` : l'écart type (standard deviation) des valeurs non nulles
    - `min` : le min des valeurs non nulles
    - `25%` : le premier quartile des valeurs non nulles
    - `50%` : le deuxieme quartile des valeurs non nulles
    - `75%` : le troisieme quartile des valeurs non nulles
    - `max` : le min des valeurs non nulles

### Question 4
- from : https://stackoverflow.com/questions/19412462/getting-distance-between-two-points-based-on-latitude-longitude

### Question 5.a & 6.a

## 2. Régression linéaire simple : comparaison
L'objectif est de comparer trois implémentations de la régression linéaire : 
- une en utilisant `sklearn` (>='1.0.2')
- une en utilisant `statsmodels` (>='0.13.2')
- l'une en calculant les coefficients "à la main" 


On a généré ci-dessous un nuage de points, on a représenté $Y$ en fonction de $X$.

L'objectif de la régression linéaire simple sans intercepte est de trouver deux coefficients $a$ et $b$ tels que :

$$ Y = ax  + err $$


L'objectif de la régression linéaire simple avec intercepte est de trouver deux coefficients $a$ et $b$ tels que :

$$ Y = ax + b + err $$


1. Entraîner un modèle de régression linéaire entre $x$ et $y$ avec `scikit-learn`
2. Entraîner un modèle de régression linéaire entre $x$ et $y$ avec `statsmodels` (on pourra s'aider de StackoVerflow)
3. Entraîner un modèle de régression linéaire entre $x$ et $y$ en remarquant que le coefficient $a$ est égale à $\frac{Cov(X, Y)}{Var(X}$ (on pourra chercher comment calculer la covariance et la variance en `pandas` ou `numpy`).
4. Créer une colonne `y_pred` qui contient les prédictions pour toutes les données à disposition

## 3. Git

1. Créer un repository vide sous le nom de `projet_data_<numero_du_groupe>` 
2. Ajouter l'utilisateur `Selimmmm` (il y a 4 m).
3. Ajouter le notebook suivant dans un dossier exercice et pousser sur la branche remote
4. Ajouter l'URL complète du repository de votre groupe : 
    - https://docs.google.com/spreadsheets/d/18WxnG-luwRS6C-djbpl-gTyQgorBaQLqBdLq2nGiPLY/edit#gid=0

## 4. Manipulation data avec `SQL` (ou `MongoDb`)

On reprend la situation de l'exercice 2.

**Il faut au préalable :**
- avoir créé un compte sur Scalingo
- avoir provisionné une app sur Scalingo
- avoir provisionné en addon une base SQL (ou MongoDB) avec le plan Starter (gratuit)
- avoir activé l'option 'Internet Accessibility' (sinon pas d'accessibilité hors réseau interne Scalingo)

1. Pour le modèle de votre choix, créer une DataFrame qui contient en colonnes `x`, `y` et `y_pred` et insérer les données dans une table SQL / une collection MongoDB sur Scalingo (la table / la collection doit être distante). On pourra utiliser `pandas.to_sql`

2. Lire les données de la table créée. On pourra utiliser `pd.read_sql`

In [120]:
!pip3 show sqlalchemy

Name: SQLAlchemy
Version: 1.3.22
Summary: Database Abstraction Library
Home-page: http://www.sqlalchemy.org
Author: Mike Bayer
Author-email: mike_mp@zzzcomputing.com
License: MIT
Location: /usr/local/lib/python3.9/site-packages
Requires:
Required-by: